### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [189]:
# Dependencies and Setup
import numpy as np
import pandas as pd

In [190]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [191]:
# Create new df for number of players
player_counts = pd.DataFrame(purchase_data, columns=['SN','Age', 'Price'])
player_counts.rename(columns = {'SN':'Players'}, inplace = True)
player_counts.Players.nunique(dropna = True)

576

In [192]:
#summarize number of unique players
player_counts_unique = pd.DataFrame(player_counts.Players.unique())
player_counts_unique.count()
sum_player_uniques = pd.DataFrame(player_counts_unique.count())
sum_player_uniques.rename(columns = {0: 'Total Players'}, inplace = True)
sum_player_uniques

   Total Players
0            576

In [193]:
# Create new df for unique items
item_counts = pd.DataFrame(purchase_data, columns=['Item ID'])
item_counts.rename(columns = {'Item ID':'Number of Unique Items'}, inplace = True)
item_counts.nunique(dropna = True)
item_count_sum = pd.DataFrame(item_counts.nunique(dropna = True))
item_count_sum.rename(columns = {0: 'Number of Unique Items'}, inplace = True)
item_count_sum.reset_index(inplace=True)
del item_count_sum['index']

In [194]:
# Create new df for number of purchases
purchase_totals = pd.DataFrame(purchase_data, columns=['SN'])
purchase_totals_count = pd.DataFrame(purchase_totals.count())
purchase_totals_count.rename(columns = {0: 'Number of Purchases'}, inplace = True)
purchase_totals_count.reset_index(inplace=True)
del purchase_totals_count['index']

In [195]:
# Create new df for total revenue
total_revenue = pd.DataFrame(purchase_data, columns=['Price'])
total_revenue_sum = pd.DataFrame(total_revenue.sum())
total_revenue_sum.rename(columns = {0: 'Total Revenue'}, inplace = True)
total_revenue_sum.reset_index(inplace=True)
del total_revenue_sum['index']

In [196]:
#add data frames together for summary frame
purch_analysis = pd.concat([item_count_sum, purchase_totals_count, total_revenue_sum], axis=1, sort=False)

In [197]:
#format columns
purch_analysis['Average Price'] = 0
purch_analysis['Average Price'] = purch_analysis['Total Revenue'] / purch_analysis['Number of Purchases']
purch_analysis['Average Price'] = purch_analysis['Average Price'].map('${:,.2f}'.format)
purch_analysis['Total Revenue'] = purch_analysis['Total Revenue'].map('${:,.2f}'.format)

In [198]:
#reorder columns
purch_analysis = purch_analysis[['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']]
purch_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [199]:
# Create new df for unique gender counts
gender_totals = pd.DataFrame(purchase_data, columns=['SN','Gender'])
gender_totals.rename(columns = {'SN': 'Total Count'}, inplace = True)
gender_totals.groupby(['Gender']).nunique(dropna = True)
gender_sum = gender_totals.groupby(['Gender']).nunique(dropna = True)

In [200]:
# rename, sort and format gender summary
gender_sum.rename(columns = {'Gender': 'Drop'}, inplace = True)
del gender_sum['Drop']
gender_sum = gender_sum.sort_values("Total Count", ascending = False)
gender_sum['Percentage of Players'] = 0
gender_sum['Percentage of Players'] = gender_sum['Total Count'] / 576 #sum_player_uniques['Total Players']
gender_sum['Percentage of Players']  = gender_sum['Percentage of Players'] .map('{:,.2%}'.format)
gender_sum

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [201]:
# Create new df for unique gender counts
gender_totals = pd.DataFrame(purchase_data, columns=['SN','Gender'])
gender_totals.groupby(['Gender']).nunique(dropna = True)
gender_purch_count = gender_totals.groupby(['Gender']).count()
gender_purch_count.rename(columns = {'SN': 'Purchase Count'}, inplace = True)

In [202]:
# Create new df for sales
gender_totals = pd.DataFrame(purchase_data, columns=['Price','Gender'])
gender_totals.rename(columns = {'Price': 'Total Purchase Value'}, inplace = True)
gender_totals.groupby(['Gender']).sum()
gender_sum_pv = gender_totals.groupby(['Gender']).sum()

In [203]:
#Create sum form for Purchasing Analysis (Gender)
gender_sum_all = pd.concat([gender_purch_count, gender_sum_pv, gender_sum], axis=1, sort=False)
gender_sum_all['Average Purchase Price'] = gender_sum_all['Total Purchase Value'] /  gender_sum_all['Purchase Count']
gender_sum_all['Average Total Purchase per Person'] = gender_sum_all['Total Purchase Value'] /  gender_sum_all['Total Count']
gender_sum_all['Total Purchase Value'] = gender_sum_all['Total Purchase Value'].map('${:,.2f}'.format)
gender_sum_all['Average Purchase Price'] = gender_sum_all['Average Purchase Price'].map('${:,.2f}'.format)
gender_sum_all['Average Total Purchase per Person'] = gender_sum_all['Average Total Purchase per Person'].map('${:,.2f}'.format)
del gender_sum_all['Total Count']
del gender_sum_all['Percentage of Players']
gender_sum_all = gender_sum_all[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Average Total Purchase per Person']]
gender_sum_all

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [204]:
#create bins for ages
bins = [-1, 9, 14, 19, 24, 29, 34, 39, purchase_data["Age"].max()+1]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create new df for age demographics
player_counts['Age Summary'] = pd.cut(player_counts['Age'], bins, labels=group_names)
player_counts_bins = player_counts.groupby(['Age Summary']).nunique(dropna = True)
del player_counts_bins['Age']
del player_counts_bins['Price']
del player_counts_bins['Age Summary']
#del player_counts_bins['Age Range']
player_counts_bins['Percentage of Players'] = player_counts_bins['Players'] / 576
player_counts_bins['Percentage of Players']  = player_counts_bins['Percentage of Players'] .map('{:,.2%}'.format)
player_counts_bins.rename(columns = {'Players': 'Total Count'}, inplace = True)
player_counts_bins

             Total Count Percentage of Players
Age Summary
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [205]:
#create bins for ages
bins = [-1, 9, 14, 19, 24, 29, 34, 39, purchase_data["Age"].max()+1]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create new df for age demographics
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=group_names)
#purchase_data = purchase_data.groupby("Age Summary")
pa_purchase_data = purchase_data.groupby(['Age Range']).nunique(dropna = True)
pa_purchase_data.rename(columns = {'Purchase ID': 'Purchase Count'}, inplace = True)
del pa_purchase_data['SN']
del pa_purchase_data['Age']
del pa_purchase_data['Gender']
del pa_purchase_data['Item ID']
del pa_purchase_data['Item Name']
del pa_purchase_data['Price']
del pa_purchase_data['Age Range']
#del pa_purchase_data['Age Summary']

In [206]:
#create bins for ages
bins = [-1, 9, 14, 19, 24, 29, 34, 39, purchase_data["Age"].max()+1]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create new df for age demographics
player_counts['Age Range'] = pd.cut(player_counts['Age'], bins, labels=group_names)
player_counts_sum = player_counts.groupby(['Age Range']).sum()
del player_counts_sum['Age']

In [207]:
#create bins for ages
bins = [-1, 9, 14, 19, 24, 29, 34, 39, purchase_data["Age"].max()+1]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create new df for age demographics
player_counts['Age Range'] = pd.cut(player_counts['Age'], bins, labels=group_names)
player_counts_count = player_counts.groupby(['Age Range']).count()
del player_counts_count['Age']
del player_counts_count['Price']
del player_counts_count['Age Summary']

In [208]:
pa_purchase_all = pd.concat([player_counts_bins, player_counts_sum, player_counts_count], axis=1, sort=False)
pa_purchase_all["Average Purchase Price"] = pa_purchase_all["Price"] / pa_purchase_all["Players"] 
pa_purchase_all["Avg Total Purchase per Person"] = pa_purchase_all["Price"] / pa_purchase_all["Total Count"] 
del pa_purchase_all['Total Count']
del pa_purchase_all['Percentage of Players']
pa_purchase_all['Average Purchase Price'] = pa_purchase_all['Average Purchase Price'].map('${:,.2f}'.format)
pa_purchase_all['Price'] = pa_purchase_all['Price'].map('${:,.2f}'.format)
pa_purchase_all['Avg Total Purchase per Person'] = pa_purchase_all['Avg Total Purchase per Person'].map('${:,.2f}'.format)
pa_purchase_all.rename(columns = {'Price': 'Total Purchase Value'}, inplace = True)
pa_purchase_all.rename(columns = {'Players': 'Purchase Count'}, inplace = True)
pa_purchase_all = pa_purchase_all[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']]
pa_purchase_all

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [209]:
# Top spenders revenue
ts_revenue= pd.DataFrame(purchase_data, columns=['SN', 'Price'])
#ts_revenue = pd.DataFrame(total_revenue.sum())
#ts_revenue.rename(columns = {0: 'Total Revenue'}, inplace = True)
#ts_revenue.reset_index(inplace=True)
#del total_revenue_sum['index']
ts_revenue_sum = ts_revenue.groupby(['SN']).sum()
ts_revenue_sum = ts_revenue_sum.sort_values("Price", ascending=False)
ts_revenue_sum.rename(columns = {'Price': 'Total Purchase Value'}, inplace = True)

In [210]:
#Top spenders counts
spender_counts = purchase_data.groupby(['SN']).nunique(dropna = True)
spender_counts = spender_counts.sort_values("Purchase ID", ascending=False)
del spender_counts['SN']
del spender_counts['Age']
del spender_counts['Gender']
del spender_counts['Item Name']
del spender_counts['Price']
del spender_counts['Age Range']
#del spender_counts['Age Summary']
del spender_counts['Item ID']
spender_counts.rename(columns = {'Purchase ID': 'Purchase Count'}, inplace = True)
spender_counts.rename(columns = {'Price': 'Total Purchase Value'}, inplace = True)

In [211]:
spender_all = pd.concat([spender_counts, ts_revenue_sum], axis=1, sort=False)
spender_all = spender_all.sort_values("Total Purchase Value", ascending=False)
spender_all['Average Purchase Price'] = spender_all['Total Purchase Value'] /spender_all['Purchase Count'] 
spender_all['Total Purchase Value'] = spender_all['Total Purchase Value'].map('${:,.2f}'.format)
spender_all['Average Purchase Price'] = spender_all['Average Purchase Price'].map('${:,.2f}'.format)
spender_all = spender_all[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
spender_all.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [212]:
#get mp_revenue by total count
mp_revenue= pd.DataFrame(purchase_data, columns=['Item ID', 'Item Name', 'Price'])
mp_revenue_count = mp_revenue.groupby(['Item ID', 'Item Name']).count()
mp_revenue_count = mp_revenue_count.sort_values("Price", ascending=False)
mp_revenue_count.rename(columns = {'Price': 'Purchase Count'}, inplace = True)

In [213]:
#get mp_revenue by total sum
mp_revenue= pd.DataFrame(purchase_data, columns=['Item ID', 'Item Name', 'Price'])
mp_revenue_sum = mp_revenue.groupby(['Item ID', 'Item Name']).sum()
mp_revenue_sum = mp_revenue_sum.sort_values("Price", ascending=False)
#mp_revenue_sum.rename(columns = {'Price': 'Total Purchase Value'}, inplace = True)

In [214]:
#add counts and sum to create populat item table
mp_revenue_all = pd.concat([mp_revenue_sum, mp_revenue_count], axis=1, sort=False)
mp_revenue_all['Item Price'] = mp_revenue_all['Price'] / mp_revenue_all['Purchase Count']
mp_revenue_all['Item Price'] = mp_revenue_all['Item Price'].map('${:,.2f}'.format)
mp_revenue_all['Price'] = mp_revenue_all['Price'].map('${:,.2f}'.format)
mp_revenue_all = mp_revenue_all[['Purchase Count', 'Item Price', 'Price']]
mp_revenue_all = mp_revenue_all.sort_values(["Purchase Count"], ascending=False)
mp_revenue_all.rename(columns = {'Price': 'Total Purchase Value'}, inplace = True)
mp_revenue_all.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [215]:
#Sort the above table by total purchase value in descending order
mp_revenue_all = pd.concat([mp_revenue_sum, mp_revenue_count], axis=1, sort=False)
mp_revenue_all['Item Price'] = mp_revenue_all['Price'] / mp_revenue_all['Purchase Count']
mp_revenue_all['Item Price'] = mp_revenue_all['Item Price'].map('${:,.2f}'.format)
mp_revenue_all['Total Purchase Value'] = mp_revenue_all['Price'].map('${:,.2f}'.format)
mp_revenue_all = mp_revenue_all[['Purchase Count', 'Item Price', 'Price']]
mp_revenue_all = mp_revenue_all.sort_values(['Price'], ascending=False)
mp_revenue_all.rename(columns = {'Price': 'Total Purchase Value'}, inplace = True)
mp_revenue_all.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
92,Final Critic,8,$4.88,39.04
103,Singed Scalpel,8,$4.35,34.80